<%# Struktur übernommen aus "Ruby on Rails Tutorial" von Michael Hartl%>
<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        <%= link_to "Optimierungsproblem", problems_path %>
      </h1>
    </td>
  </tr>
</table>