<%# Struktur übernommen aus "Ruby on Rails Tutorial" von Michael Hartl%>
<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        Sie sind angemeldet als: <%= @user.name %>
      </h1>
    </td>
  </tr>
</table>

<%= link_to "Optimierungsproblem", problems_path %>  <br/>
<%= link_to 'Lösungsübersicht', solutions_path%>