<%# Übernommen aus "Ruby on Rails Tutorial" von Michael Hartl%>
    <h1>Informationen über diese Seite</h1>
    <p>
      Diese Seite ist im Rahmen der Vorlesung "Entwicklung von Anwendungssystemen" an der Universität Hannover
      entstanden.
      <br/>
      <br/>
      Betreuung: Herr Prof. Dr. Stefan Helber
      <br/>
      Programmierung und Verantwortung für Webinhalte: Farid Oucherif
    </p>