<h1>Produkt hinzufügen</h1>

<%= form_for(@products) do |f| %>

    <div class="field">
      <%= f.label "Produktname" %>
      <br/>
      <%= f.text_field :productname %>
    </div>

    <div class="actions">
      <%= f.submit "Produktname speichern" %>
    </div>

<% end %>