<%# Struktur übernommen aus "Ruby on Rails Tutorial" von Michael Hartl%>

<% if signed_in? %>



    <h1>Lösung</h1>
    <% if File.exist?("HPPLAN_v1_OFV.txt") %>

        <h4>Der Zielfunktionswert ist <%= @objective_function_value %></h4>

        <%= link_to 'Produktion und Lagerung', view_solprodstors_path %>              <br/>
        <%= link_to 'Genutzte Zusatzkapazitäten', view_solsegs_path %>               <br/>

    <% else %>
        <h4>Das Problem konnte nicht gelöst werden!</h4>
        Entweder liegt ein Fehler in der Dateneingabe vor oder das Problem ist mit den gegebenen Restriktionen
        nicht lösbar.
    <% end %>


<% else %>
    <%= render 'shared/redirect_to_signin' %>
<% end %>