<%# Struktur übernommen aus "Ruby on Rails Tutorial" von Michael Hartl%>
<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "Über", about_path %></li>
      <li><%= link_to "Kontakt", kontakt_path %></li>
      <li><%= link_to "FAQ", faq_path %></li>
    </ul>
  </nav>
</footer>